<div ng-controller="LayoutController" layout="column" class="layout-container" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="side-nav-left" md-disable-backdrop md-is-locked-open="sideNavService.sideNavOpened" md-is-open="sideNavService.sideNavOpened" md-whiteframe="4">
            <md-content layout-margin flex>
                <md-list class="menu-items">
                    <md-list-item ui-sref="layout.users.edit({id: user.userId})" ui-sref-active="active">
                        <div class="md-list-item-text profile-item">
                            <div layout="row">
                                <div flex><img class="profile-img" src="assets/img/person.jpg"></div>
                                <div layout="column">
                                    <div flex class="title">{{user.userName}}</div>
                                    <div flex class="subtitle">{{user.meta.type}}</div>
                                </div>
                            </div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="{{item.state}}" ui-sref-active="active" ng-repeat="item in menuItems" ng-if="!_.includes(item.notAuth, user.meta.type)">
                        <div class="md-list-item-text">
                            <h4>{{item.title}}</h4>
                        </div>
                    </md-list-item>
                </md-list>
                <md-button class="logout-btn" ng-click="handlers.logout()">logout</md-button>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <div layout="column" layout-fill>
                <ui-view layout-fill></ui-view>
            </div>
        </md-content>
    </section>
</div>