@import "styleVars";

.layout-container {
  height: 100%;

  .md-sidenav-left {
    background: $dark-bg;

    .menu-items {
      height: calc(100% - 84px);

      .profile-item {
        padding-top: 10px;

        .profile-img {
          height: 70px;
          width: 70px;
          border-radius: 50%;
          margin-right: 11px;
        }

        .title {
          font-weight: bold;
          font-size: 21px;
          line-height: 2;
        }

        .subtitle {
          font-size: 14px;
          line-height: 1;
        }
      }
    }

    .logout-btn {
      float: right;
    }

    md-divider {
      border-top-color: white;
    }

    md-content {
      background: $dark-bg;
      color: white;
      md-list-item {
        cursor: pointer;

        // Removes focus bg
        a:focus {
          opacity: 0;
        }
      }

      // Active link for route
      .active {
        color: $active-text-color;
        background-color: $dark-focus-bg;
      }
    }
  }
}
