.user-form {
    .user-type {
        padding: 8px;
    }

    .form-footer {
        z-index: 1;
        max-height: 100px;
        padding: 10px 10px 2px 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
    
    .form-btn {
        width: 200px;
    }

    .error-message {
        color: red;
        padding: 0px 0px 0px 20px;
        font-weight: bold;
    }
}
