<div layout-fill class="user-form">
    <div layout-fill>
        <form layout-fill layout="column" name="form" ng-submit="handlers.submit(model)">
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">{{isEditMode? "Edit": "Add"}} User</div>
            </md-toolbar>
            <md-content layout="column" flex class="md-padding">
                <div layout="row">
                    <md-input-container flex="20" layout-padding>
                        <label>Personal ID</label>
                        <input required number="positive" type="text" ng-focus="focused=true" ng-model="model.personalId" name="personalId"/>
                        <div ng-messages="form.personalId.$error">
                            <div ng-message="required">ID is required.</div>
                            <div ng-message="number">ID should contain numbers only.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="20" layout-padding>
                        <label>Username</label>
                        <input required pattern=".{3,}" alphanumeric type="text" ng-focus="focused=true" ng-model="model.userName" name="userName" />
                        <div ng-messages="form.userName.$error">
                            <div ng-message="required">username is required.</div>
                            <div ng-message="pattern">min length is 3 characters.</div>
                            <div ng-message="alphanumeric">username should be alphanumeric.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="20" layout-padding>
                        <label>Full Name</label>
                        <input required alphanumeric="true" type="text" ng-focus="focused=true" ng-model="model.fullName" name="fullName" />
                        <div ng-messages="form.fullName.$error">
                            <div ng-message="required">full name is required.</div>
                            <div ng-message="alphanumeric">full name should be alphanumeric and can contain spaces.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="20" layout-padding>
                        <label>Password</label>
                        <input ng-required="!isEditMode" ng-disabled="isEditMode" type="password" ng-focus="focused=true" ng-model="model.password" name="password" />
                        <div ng-messages="form.password.$error">
                            <div ng-message="required">password is required.</div>
                        </div>
                        <div ng-messages="isEditMode" ng-if="isEditMode">
                            <div>you can change password from <a href="" ui-sref="layout.users.changePassword({userId: model.id})">here</a></div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="20" layout-padding>
                        <label>Birthday</label>
                        <md-datepicker required md-min-date="minBirthday" md-max-date="maxBirthday" ng-focus="focused=true" ng-model="model.birthday" name="birthday"></md-datepicker>
                        <div ng-messages="form.birthday.$error">
                            <div ng-message="required">birthday is required.</div>
                            <div ng-message="valid">not valid date.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="20" layout-padding>
                        <label>Hiring Date</label>
                        <md-datepicker md-open-on-focus="true" required md-max-date="currentDate" ng-focus="focused=true" ng-model="model.hiringDate" name="hiringDate"></md-datepicker>
                        <div ng-messages="form.hiringDate.$error">
                            <div ng-message="required">hiring date is required.</div>
                            <div ng-message="valid">not valid date.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="20" layout-padding>
                        <label>Email</label>
                        <input required type="email" ng-focus="focused=true" ng-model="model.email" name="email" />
                        <div ng-messages="form.email.$error">
                            <div ng-message="required">email is required.</div>
                            <div ng-message="email">email is not valid.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="20" class="user-type">
                        <md-select required ng-disabled="flags.disableUserTypes" ng-focus="focused=true" ng-model="model.type" placeholder="Select Type" name="type">
                            <md-option value="Admin" ng-if="flags.showAdminOption">Admin</md-option>
                            <md-option value="HR" ng-if="flags.showHrOption">HR</md-option>
                            <md-option value="Manager" ng-if="flags.showManagerOption">Manager</md-option>
                            <md-option value="Employee">Employee</md-option>
                        </md-select>
                        <div ng-messages="form.type.$error" role="alert">
                            <div ng-message="required">type is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="20" layout-padding>
                        <label>Remaining Days Off</label>
                        <input type="number" min="0" max="{{maxDaysOff}}" ng-focus="focused=true" ng-model="model.remainingDaysOff" name="remainingDaysOff" />
                        <div ng-messages="form.remainingDaysOff.$error" role="alert">
                            <div ng-message="min">minimum remaining days off is 0.</div>
                            <div ng-message="max">maximum remaining days off is 20.</div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
            <div layout="column">
                <div layout="row" flex class="form-footer">
                    <md-button type="submit" class="md-raised md-primary form-btn">Save</md-button>
                    <md-button class="md-raised md-warn form-btn" ng-if="flags.showActionBts" ng-click="handlers.deleteUser(model.id)">Delete</md-button>
                    <md-button class="md-raised success-bg white-text form-btn" ng-if="flags.showActionBts" ng-click="handlers.activateUser(model.id, !model.active)">{{model.active? "Deactivate": "Activate"}}</md-button>
                    <md-button class="md-warn form-btn" ng-click="handlers.close()">Close</md-button>
                </div>
                <div ng-show="formErrorMessage && !focused" layout="row" class="error-message">
                    <div>{{formErrorMessage}}</div>
                </div>
            </div>
        </form>
    </div>
</div>