@import "src/modules/**/*.scss";
@import "src/shared/**/*.scss";
@import "./vars.scss";

.pos-relative {
    position: relative;
}

.white-text {
    color: white !important;
}

.success-bg {
    background: $success-color !important;
}

.md-button.md-raised:not([disabled]):hover {
    background-color: gray !important;
}

md-checkbox.md-checked {
    .md-ink-ripple {
        color: $success-color;

        .md-icon {
            background-color: $success-color;
        }
    }
}

.k-header {
    background-color: $dark-bg;
    .k-state-hover, .k-state-selected {
        background-color: gray !important;
    }
}

.k-grid {
    border: 0;
    background: transparent;

    table {
        border-collapse: collapse;

        thead tr:hover {
            background-color: transparent;
        }

        thead {
            background: transparent;
            border-bottom: 1px solid #d5d5d5;

            tr {
                height: 50px;

                .k-header {
                    border-width: 0;
                    vertical-align: middle;
                    font-weight: bold;
                    background: transparent;

                    .k-link {
                        color: black;
                    }
                }
            }
        }

        tbody {
            tr {
                &:last-child td {
                    border-width: 0;
                }

                td {
                    border-width: 0 0 1px 0;
                }
            }
        }
    }
}