.users-list {
    md-toolbar {
        background-color: transparent !important;
        color: black !important;
        .header-text {
            font-weight: bold;
        }
        
        .md-button {
            border-radius: 4px;
        }
    }

    .k-grid {
        height: calc(100% - 64px) !important;
    }

    .k-grid {
        table {
            tbody {
                tr {
                    height: 100px;
                    cursor: pointer;
                    
                    // Remove even, odd background
                    &.k-alt:not(:hover) {
                        background-color: transparent;
                    }

                    td {
                        .basic-info {
                            img {
                                height: 70px;
                                width: 60px;
                                border-radius: 50%;
                            }

                            .full-name {
                                font-weight: bold;
                                margin-bottom: 0;
                                margin-top: 0.8em;
                            }

                            .md-subhead {
                                color: gray;
                            }
                        }
                    }
                }
            }
        }
    }
}