<div layout-fill class="holiday-form">
    <div layout-fill>
        <form layout-fill layout="column" name="form" ng-submit="handlers.submit(model)">
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">{{isEditMode? "Edit": "Create"}} Holiday</div>
            </md-toolbar>
            <md-content layout="column" flex class="md-padding">
                <div layout="row" class="date">
                    <md-input-container flex="20" layout-padding>
                        <label>Date</label>
                        <md-datepicker required ng-focus="focused=true" ng-model="model.date" name="date"></md-datepicker>
                        <div ng-messages="form.date.$error">
                            <div ng-message="required">date is required.</div>
                            <div ng-message="valid">not valid date.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" class="name-container">
                    <md-input-container flex="20" layout-padding>
                        <label>Name</label>
                        <input required pattern=".{3,}" ng-focus="focused=true" type="text" ng-model="model.name" name="name" class="name" />
                        <div ng-messages="form.name.$error">
                            <div ng-message="required">name is required.</div>
                            <div ng-message="pattern">min length is 3 characters.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" class="repeatable-container">
                    <md-checkbox ng-model="model.repeatableEveryYear" ng-focus="focused=true" name="repeatableEveryYear" aria-label="Repeatable">
                        Repeatable
                    </md-checkbox>
                </div>
            </md-content>
            <div layout="column">
                <div layout="row" flex class="form-footer">
                    <div>
                        <md-button type="submit" class="md-raised md-primary form-btn">
                            Save
                        </md-button>
                    </div>
                    <div ng-if="isEditMode">
                        <md-button class="md-raised delete-btn form-btn" ng-click="handlers.deleteHoliday(model.id)">
                            Delete
                        </md-button>
                    </div>
                    <div>
                        <md-button class="md-warn form-btn" ng-click="handlers.close()">
                            Close
                        </md-button>
                    </div>
                </div>
                <div ng-show="formErrorMessage && !focused" layout="row" class="error-message">
                    <div>{{formErrorMessage}}</div>
                </div>
            </div>
        </form>
    </div>
</div>