.holiday-form {

    md-toolbar {
        transform: translate3d(0px, 0px, 0px) !important;
    }

    md-content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        transform: translate3d(0px, 0px, 0px) !important;
    }

    .date {
        min-height: 70px;
    }

    .name-container {
        .name {
            min-height: 30px;
        }
    }

    .form-footer {
        position: relative;
        z-index: 1;
        max-height: 100px;
        padding: 10px 10px 2px 10px;
        border-top: 1px solid rgba(0,0,0,0.12);
    }
    
    .form-btn {
        width: 200px;

        &.delete-btn {
            color: red;
        }
    }

    .error-message {
        color: red;
        padding: 0px 0px 0px 20px;
        font-weight: bold;
    }
}
