@import "vars";

.dashboard-container {
    height: 100%;

    .k-header, .k-header li, .k-header .k-link {
        background: $dark-bg;
        border-color: $dark-bg;
        background-color: $dark-bg;
    }

    .k-scheduler-toolbar .k-state-selected {
        border-color: $dark-bg;
    }

    .k-scheduler .k-scheduler-toolbar {
        .k-state-hover, li.k-state-hover .k-link {
            background-color: gray;
            border-color: gray !important;
        }
    }

    .k-event {
        text-align: center;
        text-transform: uppercase;
        color: white;
    }
}