
.req-popover-container {
    position: absolute;
    top: -257px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    left: -89px;
    z-index: 2;
    
    .action-btn {
        width: 45%;
    }

    .message {
        height: 100px !important;
    }

    .reviewers {
        height: 128px;
    }

    .loading-spinner {
        height: 164px;
    }

    .arrow-box {
        position: relative;
        left: 0px;
        top: 230px;
        background: transparent;
        border: 3px solid transparent;

        &:after, &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(47, 82, 75, 0);
            border-top-color: #ffffff;
            border-width: 10px;
            margin-left: -10px;
        }

        &:before {
            border-color: rgba(0, 0, 0, 0);
            border-top-color: rgba(0, 0, 0, 0.25);
            border-width: 12px;
            margin-left: -12px;
        }
    }
}