<form name="form" ng-if="showDialog" class="req-popover-container" layout="column" ng-submit="handlers.submit(actionModel)">
    <div class="arrow-box"></div>
    <md-input-container flex="80" ng-show="!reviewersList && !loading">
        <label>Message</label>
        <textarea required name="actionModel" ng-model="actionModel" class="message"></textarea>
        <div ng-messages="form.actionModel.$error" role="alert">
            <div ng-message="required">message is required.</div>
        </div>
    </md-input-container>
    <md-input-container flex="80" class="reviewers" ng-show="reviewersList && !loading">
        <md-select required ng-model="actionModel" placeholder="Select Reviewer" name="actionModel">
            <md-option value="{{reviewer.id}}" ng-repeat="reviewer in reviewersList">{{reviewer.userName}}</md-option>
        </md-select>
        <div ng-messages="form.actionModel.$error" role="alert">
            <div ng-message="required">reviewer is required.</div>
        </div>
    </md-input-container>
    <div class="loading-spinner" layout="row" layout-align="center center" ng-show="loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div flex="80">
        <md-button class="md-raised md-primary action-btn" type="submit" ng-disabled="loading">Done</md-button>
        <md-button class="md-raised action-btn" ng-click="handlers.close()" ng-disabled="loading">Close</md-button>
    </div>
</form>