<div layout-fill class="password-form">
    <div layout-fill class="md-whiteframe-z1">
        <form layout-fill layout="column" name="passwordChangeForm" ng-submit="handlers.submit(model)">
            <md-content layout="column" flex class="md-padding">
                <div>
                    <md-input-container flex layout-padding>
                        <label>New Password</label>
                        <input required type="password" ng-model="model.newPassword" name="newPassword"/>
                        <div ng-messages="passwordChangeForm.newPassword.$error">
                            <div ng-message="required">new password is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container flex layout-padding>
                        <label>Confirm Password</label>
                        <input required type="password" ng-model="model.passwordConfirm" name="passwordConfirm" data-password-verify="model.newPassword" />
                        <div ng-messages="passwordChangeForm.passwordConfirm.$error">
                            <div ng-message="required">password confirmation is required.</div>
                            <div ng-message="passwordVerify">no match with new password.</div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
            <div layout="row" flex class="form-footer">
                <md-button type="submit" class="md-raised md-primary form-btn">Save</md-button>
                <md-button class="md-raised md-warn form-btn" ng-click="handlers.cancel()">Cancel</md-button>
            </div>
        </form>
    </div>
</div>