.password-form {
    .form-footer {
        max-height: 100px;
        padding: 10px 10px 40px 10px;
        border-top: 1px solid rgba(0,0,0,0.12);
    }
    
    .form-btn {
        width: 200px;
    }
}
