<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="login-box md-whiteframe-z1">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>Login</span></h2>
      </md-toolbar>
      <form name="form" ng-submit="handlers.login(model)">
        <md-content layout="column" class="md-padding">
          <md-input-container>
            <label>Username</label>
            <input required alphanumeric pattern=".{3,}" ng-focus="focused=true" type="text" ng-model="model.userName" name="userName" />
            <div ng-messages="form.userName.$error">
              <div ng-message="required">username is required.</div>
              <div ng-message="alphanumeric">username should be alphanumeric.</div>
              <div ng-message="pattern">enter valid username.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input required ng-focus="focused=true" type="password" ng-model="model.password" name="password" />
            <div ng-messages="form.password.$error" role="alert">
              <div ng-message="required">password is required.</div>
            </div>
          </md-input-container>
          <div ng-show="form.$submitted && !focused" layout="row" layout-align="center center" class="error-message">
            <div>Incorrect username or password!</div>
          </div>
          <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary">Login</md-button>
            <div flex="flex"></div>
            <md-button href="" md-no-ink>Forgot Password</md-button>
          </div>
        </md-content>
      </form>
    </div>
</div>