.login-box {
    max-width:  90%;
    width: 500px;

    md-toolbar, .md-button.md-primary {
        background-color: black !important;
    }

    .error-message {
        color: red;
        padding-bottom: 20px;
    }
}
