<div class="holidays-list" layout-fill>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <span class="header-text">Total Holidays: {{holidaysGridOptions.dataSource._data.length}}</span>
            <div flex></div>
            <span ng-if="!flags.showAddBtn">
            <md-button aria-label="Add" class="md-raised success-bg white-text" ui-sref="layout.holidays.add">
                Add Holiday
            </md-button>
            </span>
        </div>
    </md-toolbar>
    <div kendo-grid="kendoComponents.holidaysGrid.reference" k-options="kendoComponents.holidaysGrid.options" k-ng-delay="kendoComponents.holidaysGrid.options"></div>
</div>