<div class="requests-list" layout-fill>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <span class="header-text">Total Requests: {{requestsGridOptions.dataSource._data.length}}</span>
            <div flex></div>
            <span>
            <md-menu md-position-mode="target-right target" md-offset="0 47" >
                <md-button aria-label="Add" class="md-raised success-bg white-text" ng-click="$mdMenu.open($event)">
                    <span>Request&nbsp;&nbsp;&nbsp;<i class="fas fa-angle-down"></i></span>
                </md-button>
                <md-menu-content width="3" >
                    <md-menu-item>
                        <md-button>
                            <div layout="row" flex ui-sref="layout.requests.apply">
                                <p flex>Request Time Off</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            </span>
        </div>
    </md-toolbar>
    <div kendo-grid="kendoComponents.requestsGrid.reference" k-options="kendoComponents.requestsGrid.options" k-ng-delay="kendoComponents.requestsGrid.options"></div>
</div>