.request-form {

    md-toolbar {
        transform: translate3d(0px, 0px, 0px) !important;
    }

    md-content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        transform: translate3d(0px, 0px, 0px) !important;
    }

    .dates {
        min-height: 70px;
    }

    .type {
        min-height: 70px;
    }

    .reason-container {
        min-height: 130px;

        .reason {
            min-height: 100px;
        }
    }

    .message-container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
        min-height: 93px;
        width: 37%;

        &::after {
            content: "";
            clear: both;
            display: table;
        }

        &.darker {
            border-color: #ccc;
            background-color: #ddd;
        }

        img {
            float: left;
            max-width: 70px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
            height: 68px;
        }
        
        .user-name {
            padding-top: 10px;
            font-weight: bold;
        }

        .message-info {
            overflow-wrap: break-word;
            height: 100%;
            overflow: auto;
        }
    
        .message {
            margin-top: 5px;
        }

        .status {
            div {
                text-align: right;
                height: 50%;
                line-height: 2;
            }

            .status-text {
                font-weight: bold;
            }
        }
    }

    .form-footer {
        position: relative;
        z-index: 1;
        max-height: 100px;
        padding: 10px 10px 2px 10px;
        border-top: 1px solid rgba(0,0,0,0.12);
    }
    
    .form-btn {
        width: 200px;

        &.delete-btn {
            color: red;
        }
    }

    .error-message {
        color: red;
        padding: 0px 0px 0px 20px;
        font-weight: bold;
    }
}
