<div layout-fill class="request-form">
    <div layout-fill>
        <form layout-fill layout="column" name="form" ng-submit="handlers.submit(model)">
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">{{isEditMode? "Edit "+model.userName+"'s": "Request"}} Time Off</div>
            </md-toolbar>
            <md-content layout="column" flex class="md-padding">
                <div layout="row" class="dates">
                    <md-input-container flex="20" layout-padding>
                        <label>Start Date</label>
                        <md-datepicker ng-disabled="flags.disableForm" required ng-focus="focused=true" md-min-date="currentDate" ng-model="model.startDate" name="startDate"></md-datepicker>
                        <div ng-messages="form.startDate.$error">
                            <div ng-message="required">start date is required.</div>
                            <div ng-message="valid">not valid date.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="20" layout-padding>
                        <label>End Date</label>
                        <md-datepicker ng-disabled="flags.disableForm" required ng-focus="focused=true" md-min-date="model.startDate" ng-model="model.endDate" name="endDate"></md-datepicker>
                        <div ng-messages="form.endDate.$error">
                            <div ng-message="required">end date is required.</div>
                            <div ng-message="valid">not valid date.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" class="type">
                    <md-input-container flex="20">
                        <md-select ng-disabled="flags.disableForm" required ng-focus="focused=true" ng-model="model.type" placeholder="Select Time Off Type" name="type">
                            <md-option value="Paid">Paid</md-option>
                            <md-option value="NotPaid">Not Paid</md-option>
                            <md-option value="Sick">Sick</md-option>
                        </md-select>
                        <div ng-messages="form.type.$error" role="alert">
                            <div ng-message="required">time off type is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" class="reason-container">
                    <md-input-container flex="20">
                        <label>Reason</label>
                        <textarea ng-disabled="flags.disableForm" required name="reason" ng-focus="focused=true" ng-model="model.reason" class="reason"></textarea>
                        <div ng-messages="form.reason.$error" role="alert">
                            <div ng-message="required">reason is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div ng-if="isEditMode">
                    <h3>Time Off History</h3>
                    <md-divider></md-divider>
                    <div layout="column">
                        <div class="message-container" layout="row" ng-repeat="message in model.messages">
                            <div flex>
                                <div>
                                    <img src="assets/img/person.jpg" alt="Avatar">
                                </div>
                                <div class="message-info">
                                    <div class="user-name">{{message.userName}}</div>
                                    <p class="message">{{message.message}}</p>
                                </div>
                            </div>
                            <div flex="20" class="status">
                                <div class="date">{{getFormattedDate(message.dateOfMessage)}}</div>
                                <div class="status-text">{{message.action}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </md-content>
            <div layout="column">
                <div layout="row" flex class="form-footer">
                    <div ng-if="!isEditMode || model.status==='Denied'">
                        <md-button type="submit" class="md-raised md-primary form-btn">
                            {{isEditMode? "Save" : "Request"}}
                        </md-button>
                    </div>
                    <div ng-if="flags.showApproveBtn">
                        <md-button class="md-raised success-bg white-text form-btn" ng-click="handlers.applyAction(handlers.approveRequest, model.id)">
                            Approve
                        </md-button>
                    </div>
                    <div class="pos-relative" ng-if="flags.showDenyBtn">
                        <md-button class="md-raised form-btn md-warn" ng-click="flags.showDenyDialog=true">
                            Deny
                        </md-button>
                        <request-action show-dialog="flags.showDenyDialog" action="handlers.applyAction(handlers.denyRequest, model.id, actionModel)"></request-action>
                    </div>
                    <div ng-if="flags.showDeleteBtn">
                        <md-button class="md-raised delete-btn form-btn" ng-click="handlers.applyAction(handlers.deleteRequest, model.id)">
                            Delete
                        </md-button>
                    </div>
                    <div class="pos-relative" ng-if="flags.showReapplyBtn">
                        <md-button class="md-raised success-bg white-text form-btn" ng-click="flags.showReapplyDialog=true">
                            Reapply
                        </md-button>
                        <request-action show-dialog="flags.showReapplyDialog" action="handlers.applyAction(handlers.reapplyRequest, model.id, actionModel)"></request-action>
                    </div>
                    <div class="pos-relative" ng-if="flags.showReassignBtn">
                        <md-button class="md-raised form-btn md-primary" ng-click="flags.showReassignDialog=true">
                            Assign
                        </md-button>
                        <request-action show-dialog="flags.showReassignDialog" action-model="model.reviewerId" reviewers-list="reviewersList" action="handlers.applyAction(handlers.reassignRequest, model.id, actionModel)"></request-action>
                    </div>
                    <div>
                        <md-button class="md-warn form-btn" ng-click="handlers.close()">
                            Close
                        </md-button>
                    </div>
                </div>
                <div ng-show="formErrorMessage && !focused" layout="row" class="error-message">
                    <div>{{formErrorMessage}}</div>
                </div>
            </div>
        </form>
    </div>
</div>